html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  // color: ;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: $text;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

.inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: #fff;
  padding: 0 30px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.jq-ry-container {
  padding: 0;
}
