@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
  background-color: #eef1f3;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.header__logo {
  margin-left: 7px;
  margin-right: 10px;
}

.header__seller {
  margin-left: auto;
  margin-right: 150px;
  padding: 15px 18px;
  background-color: $blue;
  border-radius: 18px;
  max-height: 36px;
  display: flex;
  align-items: center;
  a {
    color: #fff;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 18px;
  text-align: center;
  color: #fff;
  &-login {
    background-color: #fff;
    color: $blue;
  }

  &-register {
    background-color: $blue;
    margin-left: 7px;
  }
}

.header__menu {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 32px;
    }
  }

  a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $header;
  }
}

.header__search {
  max-width: 360px;
  position: relative;
  margin-top: 17px;
  input {
    display: block;
    width: 100%;
    border: 1px solid $border;
    border-radius: 23px;
    height: 46px;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 90px;
    margin-right: 70px;
    &::placeholder {
      color: #898f96;
    }
  }

  button {
    position: absolute;
    border: none;
    border-radius: 23px;
    width: 70px;
    height: 46px;
    right: 0;
    top: 0;
    background-color: $blue;
    cursor: pointer;
  }
}

// end header

// start search

.search {
  min-height: 725px;
  background-color: #2549cd;
}

.search__inner {
  padding-top: 195px;
  color: $white;
  text-align: center;
  &-title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 40px;
    span {
      display: block;
      font-weight: 700;
    }
  }

  &-text {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 70px;
  }
}

.search__btn {
  padding: 12px 32px;
  max-height: 55px;
  text-align: center;
  color: #fff;
  border-radius: 27px;
  font-weight: 500;
  margin-bottom: 140px;
  &-all {
    background-color: #fff;
    border: 1px solid transparent;
    color: $blue;
  }

  &-popular {
    border: 1px solid #fff;
    margin-left: 30px;
  }
}

.search__inner-form {
  height: 135px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  top: 66px;
  input {
    display: block;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    height: 55px;
    padding-left: 27px;
    padding-right: 220px;
    &::placeholder {
      color: #676767;
      font-weight: 500;
    }
  }
}

.form__left {
  max-width: 808px;
}

.search__form-all {
  position: absolute;
  border: none;
  right: 292px;
  top: 40px;
  height: 55px;
  width: 195px;
  background-color: transparent;
  color: $text;
  border-left: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &::after {
    content: '';
    background-image: url(../images/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 13px;
    height: 8px;
  }
}

.search__form-now {
  position: absolute;
  border: none;
  right: 40px;
  top: 40px;
  height: 55px;
  width: 223px;
  margin-left: 30px;
  border-radius: 3px;
  background-color: $blue;
  color: #fff;
  cursor: pointer;
}

.search__bg-1 {
  position: absolute;
  background-color: #fff;
  opacity: 0.502;
  top: -13px;
  left: 0;
  height: 30px;
  width: 1110px;
  margin: 0 15px;
  border-radius: 6px;
}

.search__bg-2 {
  position: absolute;
  background-color: #fff;
  opacity: 0.502;
  top: -26px;
  left: 0;
  height: 30px;
  width: 1080px;
  margin: 0 30px;
  border-radius: 6px;
}

// end search

// start advantages

.advantages {
  margin-bottom: 120px;
  margin-top: 186px;
}

.advantages__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.advantages__item {
  max-width: 361px;
  height: 403px;
  max-width: 360px;
  border-radius: 4px;
  padding: 0 30px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }

  &-img {
    margin-top: 40px;
    height: 122px;
  }

  &-title {
    margin-top: 38px;
    font-size: 24px;
    color: #000;
  }

  &-text {
    margin-top: 25px;
  }
}

// end advantages

// start slider-weekly

.slider__weekly {
  background-color: $bg;
}

.slider__inner {
  padding: 120px 0;
}

.slider__top-btn {
  width: 110px;
  height: 45px;
  background-color: #7347c1;
  border-radius: 23px;
  position: relative;
}

.slider__item {
  position: relative;
  &-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
  }

  &-seller {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 34px;
  }

  &-text {
    margin-top: 25px;
  }

  &-tag {
    margin-top: 30px;
    font-size: 15px;
    line-height: 18px;
    ul {
      display: flex;
      justify-content: left;

      li {
        padding: 4px 16px;
        border-radius: 12px;
        background-color: #f1f3f6;
        display: flex;
        align-items: center;
        a {
          color: #868c96;
        }
      }

      li + li {
        margin-left: 7px;
      }
    }
  }

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 44px;
    border-top: 1px solid #ececec;
  }
}

.slider__item-left {
  max-width: 555px;
  height: 450px;
}

.slider__item-right {
  position: absolute;
  max-width: 585px;
  display: inline-block;
  background-color: #fff;
  right: 0;
  top: 0;
  height: 450px;
  padding: 50px 50px 0 50px;
}

.item__seller-author {
  display: flex;
  align-items: center;
  max-width: 115px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
  }
}

.item__seller-platform {
  font-size: 15px;
  color: #7347c1;
  margin-left: 21px;
  padding-left: 25px;
  position: relative;
  &::before {
    content: '\f19a';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
  }
}

.slider__box-price {
  display: flex;
  justify-content: left;
  .box__item {
    margin-left: 19px;
    padding-left: 26px;
    font-size: 15px;
  }
}

.item__box-price {
  padding: 0 18px;
  background-color: $blue;
  border-radius: 16px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.item__box-purch {
  color: $blue;
  position: relative;
  &::before {
    content: '\f07a';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
  }
}

.item__box-hearts {
  position: relative;
  &::before {
    content: '\f08a';
    font-family: 'icomoon';
    position: absolute;
    color: #7347c1;
    margin-right: 10px;
    left: 0;
  }
}

.slick-arrow {
  position: absolute;
  width: 55px;
  height: 45px;
  background-color: transparent;
  border-radius: 23px;
  border: none;
  cursor: pointer;
}

.slick-prev {
  right: 86px;
  top: -127px;
}

.slick-next {
  right: 30px;
  top: -127px;
}

button.slick-arrow.slick-next {
  outline: none;
}

button.slick-arrow.slick-prev {
  outline: none;
}

// end slider-weekly

// start products

.products {
  background-color: #f6f7fb;
  padding: 120px 0;
}

.products__inner-top {
  margin-bottom: 30px;
}

.products__top-items {
  display: flex;
  justify-content: space-between;
}

.top__items-text {
  color: #747b86;
  margin-right: 25px;
}

.top__items-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top__items-dot {
  width: 4px;
  height: 4px;
  background-color: #a3b1c4;
  border-radius: 50%;
  margin: 2px 0;
}

.products__inner-btn {
  margin-bottom: 50px;
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 30px;
  button {
    padding: 4px 20px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 16px;
    font-size: 15px;
    color: #747b86;
    cursor: pointer;
    & + button {
      margin-left: 10px;
    }
    &.mixitup-control-active {
      background-color: $blue;
      color: #fff;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  max-width: 360px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  &-img {
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &-content {
    padding: 25px 38px 0 30px;
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
  }

  &-seller {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    .item__seller-author {
      max-width: 140px;
    }
  }

  &-text {
    margin-top: 20px;
  }

  &-box {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 62px;
    margin-top: 30px;
    border-top: 1px solid #ececec;
    padding: 0 30px;
    position: relative;
    .item__box-price {
      background-color: #e6f1fd;
      font-size: 500;
      color: $blue;
      margin-right: 13px;
      height: 30px;
      max-width: 85px;
      padding: 2px 16px;
    }

    .item__box-hearts {
      padding-left: 22px;
      margin-right: 15px;
    }

    .item__box-purch {
      padding-left: 22px;
      font-size: 15px;
      position: absolute;
      right: 30px;
    }
  }
}

.products__item-img:hover .products__img {
  height: 100%;
}

.products__img {
  background-image: url(../images/products/products-hover.jpg);
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  &-info {
    max-height: 45px;
    padding: 4px 25px;
    border: 1px solid #f4f4f4;
    border-radius: 22px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
  }

  &-demo {
    max-height: 45px;
    padding: 4px 25px;
    margin-left: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 22px;
    font-weight: 500;
    font-size: 15px;
    color: $blue;
    background-color: #fff;
  }
}

.item__psd {
  &::before {
    content: '\f1c4';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
  }
}

.item__html {
  &::before {
    content: '\f13b';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
  }
}

.products__btn {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
.products__inner-link {
  max-height: 55px;
  background-color: $blue;
  display: inline-block;
  border-radius: 26px;
  padding: 10px 30px;

  a {
    color: #fff;
  }
}
// end products

// start slider-followers

.slider__top-btn--blue {
  background-color: $blue;
}

.slider__followers {
  .products__item {
    margin-bottom: 0;
    max-width: 350px;
    margin: 0 auto;
  }
}

.slider__followers-inner {
  .slick-slide {
    width: 350px !important;
    margin: 0 15px;
  }

  .slick-track {
    padding-bottom: 10px;
  }
}

// end slider-followers

// start statistics

.statistics {
  background-color: #212225;
  padding: 95px 0;
}

.statistics__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics__item {
  text-align: center;
  &-digit {
    font-size: 36px;
    margin-top: 40px;
  }
  &-text {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
  }
}

.statistics__orange {
  color: #feb71d;
}
.statistics__blue {
  color: #58c9e9;
}

.statistics__green {
  color: #77de51;
}

.statistics__red {
  color: #ff6a6d;
}

.icon-briefcase {
  font-size: 48px;
  color: #feb71d;
}

.icon-cloud-download {
  font-size: 48px;
  color: #58c9e9;
}

.icon-smile-o {
  font-size: 48px;
  color: #77de51;
}

.icon-group {
  font-size: 48px;
  color: #ff6a6d;
}

// end statistics

// start pros

.pros {
  padding: 120px 0;
}

.pros__top {
  text-align: center;
  &-title {
    font-size: 36px;
    color: #000;
    span {
      color: $blue;
    }
  }

  &-text {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 25px;
  }
}

.pros__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pros__item {
  max-width: 360px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
  margin-top: 55px;
  &-num {
    font-weight: 300;
    color: rgba(92, 135, 248, 0.2);
    font-size: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .icon-drivers-license-o {
    font-size: 60px;
    color: $blue;
    margin-top: 56px;
  }

  .icon-magic {
    font-size: 60px;
    color: #7f4ec2;
    margin-top: 56px;
  }
  .icon-lock {
    font-size: 60px;
    color: #77de51;
    margin-top: 56px;
  }
  .icon-bar-chart {
    font-size: 60px;
    color: #feb71d;
    margin-top: 56px;
  }
  .icon-leaf {
    font-size: 60px;
    color: #58c9e9;
    margin-top: 56px;
  }
  .icon-phone-square {
    font-size: 60px;
    color: #ff6a6d;
    margin-top: 56px;
  }

  &-title {
    font-size: 24px;
    color: #000;
    margin-top: 40px;
  }

  &-text {
    margin-top: 20px;
    padding: 0 30px 50px 30px;
  }
}

// end pros
